<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="Test.Properties.Settings.DB" connectionString="User Id=nspmes;Password=nspmes;data source=//10.100.100.42:1523/F2MESD" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <applicationSettings>
        <Test.Properties.Settings>
            <setting name="LoopCount" serializeAs="String">
                <value>100</value>
            </setting>
        </Test.Properties.Settings>
    </applicationSettings>
</configuration>
